<h1>アイディア一覧</h1>
<%= link_to "アイディア新規投稿", new_idea_path %>
<div>
  <% @ideas.each do |idea| %>
    <p><%= link_to "#{idea.title}", idea_path(idea) %></p>
    <p><%= idea.content %></p><br>
  <% end %>
</div>