<h1 class="page_title">あなたのアイディア</h1>
<div class="page_title"><%= link_to "みんなのアイディアへ", public_company_ideas_path %></div>
<%= link_to "この会社に招待する", new_user_company_invitation_path(@company_id) %>
<hr >
<%= tag.div id: :boards, data: { ideas: @ideas.to_json(include: :memos) }%>