<h1>アイディア一覧</h1>
<div class="idea_new_btn">
  <%= link_to '＋新規投稿', new_idea_path, remote: true, class: "btn btn-lg, btn-primary" %>
  <div id="idea-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
</div>
<div class="idea_board">
  <% @ideas.each do |idea| %>
    <div class="idea_lists">
      <div class="idea_content">
        <%= link_to "#{idea.content}", edit_idea_path(idea), remote: true, class: "btn btn-lg, btn-primary" %>
        <div id="memo-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      </div>
      <table>
        <tbody class="table-sortable">
          <% idea.memos.rank(:row_order).each do |memo| %>
            <%= content_tag "tr", id: "memo-#{memo.id}", class: "idea_lists_memo", data: { model_name: memo.class.name.underscore, update_url: memo_sort_path(memo)} do %>
              <td class="idea_lists_memo"><%= memo.content %></td>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>



<div class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <h1>jKanbanサンプル</h1>
          <a class="btn-xl btn btn-default" href="https://github.com/riktar/jkanban" target="_blank">Fork on GitHub</a>
         <hr>
         <div id="myKanban"></div>
         <button class="btn btn-success" id="addDefault">ボード追加</button>
         <button class="btn btn-success" id="addToDo">Todo追加</button>
         <button class="btn btn-danger" id="removeBoard">終わった作業を削除</button>
      </div>
   </div>
</div>


<script>


var KanbanTest = new jKanban({
  element : '#myKanban',
  gutter  : '10px',
  click : function(el){
      alert(el.innerHTML);
  },
  boards  :[
      {
          'id' : '_todo',
          'title'  : 'To Do (ドラッグ&ドロップ)',
          'class' : 'info',
          'item'  : [
              {
                  'title':'ドラッグで動かしたり',
              },
              {
                  'title':'クリックしてみたり',
              }
          ]
      },
      {
          'id' : '_working',
          'title'  : '例の案件',
          'class' : 'warning',
          'item'  : [
              {
                  'title':'進める',
              },
              {
                  'title':'後で動作テスト',
              }
          ]
      },
      {
          'id' : '_done',
          'dragTo' : ['_working'],
          'title'  : '終わった作業',
          'class' : 'success',
          'item'  : [
              {
                  'title':'コーディング',
              },
              {
                  'title':'見積もり',
              }
          ]
      }
  ]
});

var toDoButton = document.getElementById('addToDo');
toDoButton.addEventListener('click',function(){
  KanbanTest.addElement(
      '_todo',
      {
          'title':'追加されたTodo',
      }
  );
});

var addBoardDefault = document.getElementById('addDefault');
addBoardDefault.addEventListener('click', function () {
  KanbanTest.addBoards(
      [{
          'id' : '_default',
          'title'  : '追加されたカボード',
          'dragTo':['_todo','_working'],
          'class' : 'error',
          'item'  : [
              {
                  'title':'アイテム1',
              },
              {
                  'title':'アイテム2',
              },
              {
                  'title':'アイテム3',
              }
          ]
      }]
  )
});

var removeBoard = document.getElementById('removeBoard');
removeBoard.addEventListener('click',function(){
  KanbanTest.removeBoard('_done');
});
</script>