

<%= form_with model: @idea  do |f| %>
  <table class="table table-striped table-bordered table-hover">
    <%= f.nested_fields_for :plans, wrapper_tag: :tr do |plan| %>
      <td><%= plan.text_field :content, class: 'form-control' %></td>
    <% end %>
  </table>

  <%= f.submit "更新する",class:"btn btn-info",style:"margin:5px" %><br>
<% end %>








<style>
.model-up input[type="file"] {
   display: none;
}

.model-up label::after{
   display: none;
}

.model-up label {
   background: #74b9ff;
   padding: 5px 10px;
   border-radius: 10px;
   display: inline-block;
   position: relative;
}
.model-up label::after {
   content: "選択されていません";
   font-size: 0.8em;
   position: absolute;
   right: -140px;
   top: calc(50% - 10px);
}
.model-up label.changed::after {
   content: "";
}
.model-up .filename {
   font-size: 0.8em;
}


</style>