<h1>メモ</h1>
<table>
  <thead>
    <tr>
      <th>メモ</th>
    </tr>
  </thead>
  <tbody class="table-sortable">
    <% @memos.each do |memo| %>
      <%= content_tag "tr", id: "memo-#{memo.id}", class: "item", data: { model_name: memo.class.name.underscore, update_url: memo_sort_path(memo)} do %>
        <td><%= memo.content %></td>
      <% end %>
    <% end %>
  </tbody>
</table>
