 <h2><%= @user.name %> 様</h2>
<p><%= @sender.name %>さんからダイレクトメッセージが届いています。<br>
</p>

<p>
----------------------------<br>
<%= @message.content %><br>
----------------------------<br>
</p>

<%= link_to "メッセージを確認する", room_url(@room_id ) %>