$white: #fff;
$navy: #34495e;
$dark_navy: #253141;
$grey: #999999;
$light_blue: #38AEF0;
$light_grey: #FAFAFA;
$dark_grey: #434A54;
$silver_grey: #DDDDDD;
$form_white: #FFFFFF;
$light_grey2: #ccc;
$vermilion: #d65f4c;
$alert_orange: #F35500;
$red: #f05050;
