.nav{
  width: 30%;
  display: flex;
  margin: 5px;
  text-align: right;
  .logout{
    // margin-left: 300px;
    // line-height: 2;
  text-align: right;
  color: #18BC9C;
  }
  .login{
    margin:0 5px;
    color: #18BC9C;

  }
}

// アイディアページ
.page_title{
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  padding: 5px;
}



  .container_fluid{
    background: #34495e; 

  }

.dragArea {
  min-height: 10px;
}

.idea{
  color: #172b4d;
  background: #ebecf0;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0 20px 20px;
  padding: 10px;
  vertical-align: top;
  width: 250px;
}