

// アイディアページ
.page_title{
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  padding: 5px;
}

.dragArea {
  min-height: 10px;
}

.idea{
  color: #172b4d;
  background: #ebecf0;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0 20px 20px;
  padding: 10px;
  vertical-align: top;
  width: 250px;
}