.planning_container{
  width:90%;
  max-width:800px;
  margin:0 auto 0 auto;color:#fff;
  text-align:center;
}

.planning_idea{
  font-size: 1.3rem;
  padding: 15px 0;
  &_content{
    font-size: 16px;
  }
}

.plan_question_title{
  margin-top: 40px;
}
.plan_question_content{
  font-size:0.8em;
}
.planning_form
.planning_contents{
  text-align:left;
  margin-top: 20px;
}
.planning_contents{
  padding-bottom: 100px;
}

.plan_content{
  color: #212529;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.file-preview{
  margin-top: 15px;
  max-height: 600px;
  max-width: 100%;
  min-width: 650px;
}
.hidden{
  display: none;
}

.upload_btn {
  margin-top: 15px;
  background: #74b9ff;
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}
.planning_btn{
  margin: 5px 0 80px;
}